html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .brand {
    font-family: "Charm" !important;
  }
  
  .transparent{
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
  }
  
  #contain{
    width: 100%;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  
  .bg {
    animation:slide 4s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(114, 233, 160) 50%, rgba(0, 255, 255, 0.993) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    /* background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%); */
    position:fixed;
    height: 100%;
    width: 100%;
    background-color:rgba(255,255,255,.5);
  }
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }